/*
 * ui.dialog stylesheet
 */
 
body.modal-open{overflow:hidden;}
.dialog-box{
    position:absolute;
    top:50%;
    left:50%;
}
.dialog-box.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    overflow: auto;
    overflow-y: scroll;
}
.dialog-box.modal .mask{
    background-color:#000;
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.dialog-box.fade,.dialog-box.fade .mask{
    opacity: 0;
    -ms-transition: opacity .15s linear;
    -moz-transition: opacity .15s linear;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.dialog-box .mask.in{
    opacity:.5;
}
.dialog-box.fade.in{
    opacity: 1;
}

.dialog-box .dialog-content{
    right: auto;
    width: 600px;
    margin:0 auto auto auto;
}
.dialog-box.fade .dialog-content{
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    transform: translate(0,-25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    transition: transform .3s ease-out;
}
.dialog-box.in .dialog-content{
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
}

/*temp test css*/
.dialog-box .dialog-content{margin-top:200px;}